.clients {
  padding: 6rem 0;
  .container {
    // making the client image in grid
    .clients-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      text-align: center;
    }
  }
}
