.like {
  margin: 5rem 0;
  // this is to set both of the containers to be side by side
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    .content {
      background: radial-gradient(circle at 10% 20%, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 90%); // make it var
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem;
      border-radius: 2rem;
      .title {
        color: var(--accent-color1);
      }
      .description {
        color: var(--accent-color3);
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
      }
    }
  }
}
